html{
    overflow-x: hidden; overflow-y: hidden;
}

body{
    background: #aaaaaa;
    margin: 0px;
}

.ui-progressbar .ui-progressbar-value { 
    background-image: url(jquery.ui/images/pbar-ani.gif);
    margin: 0px;
}
    
#aminoacid-dashboard {
    margin-top: 10px;
}
#aminoacid-dashboard .aminoacid-num{
    margin-bottom: 10px;
}

#protein-pool-dashboard{
    margin-top: 10px;
}
#protein-pool-dashboard .protein-num {
    margin-bottom: 10px;
}

#dialog-protein-composite{
    background-color: #dedede ;
    padding: 10px ;
}
.protein-formula{
    margin-top: 5px ;
}
