html{
    overflow-x: hidden; overflow-y: hidden;
}

body{
    background: #aaaaaa;
    margin: 0px;
}

.ui-progressbar .ui-progressbar-value { 
    background-image: url(jquery.ui/images/pbar-ani.gif);
    margin: 0px;
}
    
#aminoacid-dashboard {
    margin-top: 10px;
}
#aminoacid-dashboard .aminoacid-num{
    margin-bottom: 10px;
}

#protein-pool-dashboard{
    margin-top: 10px;
}
#protein-pool-dashboard .protein-num {
    margin-bottom: 10px;
}

#dialog-protein-composite{
    background-color: #dedede ;
    padding: 10px ;
}
.protein-formula{
    margin-top: 5px ;
}


.bulding-menu{
    width: 300px ;
    padding: 10px ;
    background-color: #cdcdcd ;
}

.bulding-items{
    clear: both ;
}
.bulding-menu h3{
    float: left ;
}
.bulding-menu .btn-close{
    float: right ;
}

.bulding-upgrader{
    padding-top: 15px ;
    font-size: 10px ;
}
.bulding-create{
    padding-top: 15px ;
    font-size: 10px ;
}


#dialog-killboss-reward{
    width: 300px ;
    padding: 10px ;
    background-color: #cdcdcd ;
}
.reward-gene{
	width: 150px ;
	float:left ;
}

#ui-levels-selector {
    position:absolute;
    display:none;
    width: 300px ;
    padding: 10px ;
    background-color: #cdcdcd ;
}

#ui-levels-selector-menu{
    display: none;
}