<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decal_smoke_hitground_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{66,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{66,22}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>decal_smoke_hitground_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{74,28}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>decal_smoke_hitground_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{76,34}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>decal_smoke_hitground_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,32},{72,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{72,36}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>decal_smoke_hitground_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{72,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{72,38}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>decal_smoke_hitground_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{64,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{64,40}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>explosion_shrapnel_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,150},{18,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{18,16}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{20,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,42},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,36}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,154},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,196},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,158},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,190},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,194},{30,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,158},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{28,22}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>explosion_shrapnel_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,70},{26,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{26,20}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>fx_rifle_smoke_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,240},{16,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{16,14}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,158},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,124},{48,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,32}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{50,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,34}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,142},{50,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,34}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,90},{50,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,34}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{38,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{38,24}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_rifle_smoke_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,68},{36,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{36,20}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fx_smoke_hitground_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>fx_smoke_hitground_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{62,50}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>fx_smoke_hitground_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,70},{62,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,52}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>fx_smoke_hitground_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>fx_smoke_hitground_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,42},{62,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>fx_smoke_hitground_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,194},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{50,26}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>fx_smoke_hitground_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,194},{48,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{48,16}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smoke.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f5bff8a8e62eac3e95a30bd23c1dbd$</string>
            <key>textureFileName</key>
            <string>smoke.png</string>
        </dict>
    </dict>
</plist>
