<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anji_b_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,666},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,584},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,662},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,584},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,657},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,580},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_b_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,575},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anji_r_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,910},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,658},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,748},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,829},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,911},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,658},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,748},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,830},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_r_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>anji_y_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,575},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,510},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,451},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,451},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,499},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,451},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,497},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,414},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anji_y_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,331},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>chuansong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,165}}</string>
                <key>sourceSize</key>
                <string>{172,165}</string>
            </dict>
            <key>chuansong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{171,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,162}}</string>
                <key>sourceSize</key>
                <string>{171,162}</string>
            </dict>
            <key>chuansong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,166},{170,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,163}}</string>
                <key>sourceSize</key>
                <string>{170,163}</string>
            </dict>
            <key>chuansong_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{172,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,164}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>chuansong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,165}}</string>
                <key>sourceSize</key>
                <string>{172,165}</string>
            </dict>
            <key>chuansong_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,166}}</string>
                <key>sourceSize</key>
                <string>{172,166}</string>
            </dict>
            <key>chuansong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,165}}</string>
                <key>sourceSize</key>
                <string>{172,165}</string>
            </dict>
            <key>chuansong_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{172,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,164}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>chuansong_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,166},{170,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,163}}</string>
                <key>sourceSize</key>
                <string>{170,163}</string>
            </dict>
            <key>chuansong_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{171,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,162}}</string>
                <key>sourceSize</key>
                <string>{171,162}</string>
            </dict>
            <key>dianlv_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,240},{132,98}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{132,98}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,243},{130,84}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{130,84}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,168},{132,96}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,4},{132,96}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,169},{132,72}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,25},{132,72}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{134,68}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{134,68}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,247},{130,64}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{130,64}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{132,72}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,33},{132,72}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,140},{132,98}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,2},{132,98}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,169},{132,76}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,25},{132,76}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,313},{126,62}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{126,62}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{132,72}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,33},{132,72}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,169},{132,70}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,28},{132,70}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,72},{134,66}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,27},{134,66}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>xibaohe_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,377},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,453},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,388},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,329},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,329},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,462},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,340},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,331},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,266},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xibaohecheng.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54174669f4187f234a13fcbcff95aa21$</string>
            <key>textureFileName</key>
            <string>xibaohecheng.png</string>
        </dict>
    </dict>
</plist>
