<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anji_b_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2342,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{388,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,391}</string>
            </dict>
            <key>anji_b_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>anji_r_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{388,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,391}</string>
            </dict>
            <key>anji_r_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>anji_y_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1563},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{388,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,391}</string>
            </dict>
            <key>anji_y_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1173},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,783},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,393},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>chuansong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,392},{236,228}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{236,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2472,1800},{236,230}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2240,1800},{236,230}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{236,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,866},{234,230}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{234,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2626,392},{232,234}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{232,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,630},{232,234}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{232,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,1102},{228,234}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{228,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,2},{230,234}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{230,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2240,1562},{232,236}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{232,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,1800},{232,236}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{232,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,1562},{232,236}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{232,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuansong_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2474,1472},{232,230}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{232,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dianlv_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2832,238},{132,98}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,3},{132,98}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1957},{130,84}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{130,84}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,1338},{132,96}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,4},{132,96}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1953},{132,72}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,25},{132,72}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1953},{134,68}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{134,68}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1952},{130,64}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{130,64}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1957},{132,72}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,33},{132,72}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,238},{132,98}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,2},{132,98}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1957},{132,76}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,25},{132,76}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1952},{126,62}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{126,62}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1957},{132,72}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,33},{132,72}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1953},{132,70}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{132,70}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>dianlv_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1952},{134,66}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,27},{134,66}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>jindutiao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1566},{389,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,52}}</string>
                <key>sourceSize</key>
                <string>{389,52}</string>
            </dict>
            <key>jindutiao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1175},{389,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,52}}</string>
                <key>sourceSize</key>
                <string>{389,52}</string>
            </dict>
            <key>jindutiao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,784},{389,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,52}}</string>
                <key>sourceSize</key>
                <string>{389,52}</string>
            </dict>
            <key>jindutiao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,393},{389,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,52}}</string>
                <key>sourceSize</key>
                <string>{389,52}</string>
            </dict>
            <key>jindutiao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,784},{389,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,52}}</string>
                <key>sourceSize</key>
                <string>{389,52}</string>
            </dict>
            <key>jindutiao_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1175},{389,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,52}}</string>
                <key>sourceSize</key>
                <string>{389,52}</string>
            </dict>
            <key>xibaohe_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2748,988},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2738,1224},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,1582},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,1460},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2704,1828},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2704,1706},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2630,628},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2628,866},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2626,1102},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2616,1338},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2494,1338},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xibaohecheng.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce3a3932952ad965aef035c7fdf5230$</string>
            <key>textureFileName</key>
            <string>xibaohecheng.png</string>
        </dict>
    </dict>
</plist>
