<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anji_b_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{388,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,391}</string>
            </dict>
            <key>anji_b_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_b_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>anji_r_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{388,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,391}</string>
            </dict>
            <key>anji_r_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1562},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_r_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>anji_y_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1172},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,782},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,392},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{388,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,391}</string>
            </dict>
            <key>anji_y_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1563},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1173},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,783},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,393},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>anji_y_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,389}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>xibaohe_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3440,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3318,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3196,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaohe_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3074,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2952,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2830,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2708,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2586,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xibaozhi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2342,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xibaohecheng.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99226b9790ff760e46ddd08b7bb998f7$</string>
            <key>textureFileName</key>
            <string>xibaohecheng.png</string>
        </dict>
    </dict>
</plist>
