<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daodan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{106,100}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{106,100}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>daodan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{106,100}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{106,100}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>gong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,294},{110,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>gong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,290},{110,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>gong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,294},{110,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>huishou_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,356},{104,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>huishou_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,280},{104,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>jiasu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,102},{132,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{132,98}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>jiasu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{132,98}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>jiasu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{132,100}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>jiasu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{132,100}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>pao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{110,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{110,82}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>pao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,206},{110,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,86}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>pao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,202},{110,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,86}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>pao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,192},{110,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,86}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>ping_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{126,86}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{126,86}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>ping_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,104},{126,86}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{126,86}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>ping_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{126,86}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{126,86}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>reinforce_C0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,530},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,410},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,454},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,422},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,380},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,262},{30,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,530},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,192},{36,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{36,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,192},{36,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{36,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,500},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,500},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,666},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,636},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,606},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,470},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,440},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,576},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,390},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,358},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,546},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,230},{30,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,516},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,326},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,294},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,486},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>tuijinqi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,796},{96,84}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{96,84}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>tuijinqi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,896},{102,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{102,78}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>tuijinqi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,896},{102,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{102,82}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>y_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,848},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,792},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,692},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,744},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,688},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,588},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,640},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,584},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,484},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,536},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,480},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,380},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,432},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,376},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>y_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>addbuild.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cf632a7b6aa69c5ce06d896f6fb4ab9$</string>
            <key>textureFileName</key>
            <string>addbuild.png</string>
        </dict>
    </dict>
</plist>
