<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daodan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{106,100}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{106,100}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>daodan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{106,100}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{106,100}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>gong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{110,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>gong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,284},{110,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>gong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{110,84}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>huishou_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,376},{104,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>huishou_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{104,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{104,74}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>jiasu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,102},{132,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{132,98}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>jiasu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{132,98}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>jiasu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{132,100}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>jiasu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{132,100}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>pao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,206},{110,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{110,82}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>pao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,202},{110,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,86}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>pao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{110,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,86}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>pao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,196},{110,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,86}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>ping_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,104},{126,90}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{126,90}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>ping_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{126,96}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{126,96}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>reinforce_C0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,388},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,466},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,466},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,330},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,482},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,266},{30,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,478},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{36,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{36,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{36,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{36,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,448},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,418},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,388},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,320},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,290},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,328},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,298},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,482},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,298},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,474},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,482},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,234},{30,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,482},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,474},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,474},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>reinforce_C0_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>tuijinqi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,290},{96,84}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{96,84}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>tuijinqi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,362},{102,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{102,78}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
            <key>tuijinqi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,370},{102,82}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{102,82}}</string>
                <key>sourceSize</key>
                <string>{144,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>addbuild.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4471d7a5b50d6d3bf49a47397fe6b9e$</string>
            <key>textureFileName</key>
            <string>addbuild.png</string>
        </dict>
    </dict>
</plist>
