<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>artillery_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,928},{118,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{118,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,850},{118,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{120,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,80},{120,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{120,72}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{120,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{120,68}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{120,78}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,380},{118,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{118,106}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{118,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{118,108}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,268},{118,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{118,110}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{118,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,154},{118,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{118,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,488},{118,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{118,102}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{118,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,772},{118,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{118,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,682},{118,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{118,88}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{118,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,94}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{118,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,96}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,592},{118,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{118,88}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{118,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>factory.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6433d9523d2bdb3b768aeb5b5925ffe$</string>
            <key>textureFileName</key>
            <string>factory.png</string>
        </dict>
    </dict>
</plist>
