<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>artillery_lvl4_tesla_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{96,106}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,100},{96,106}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{96,106}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{96,104}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{96,104}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{96,104}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{96,104}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,106}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{98,106}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,398},{98,102}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{98,102}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{98,102}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{98,102}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{98,102}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{98,102}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>artillery_lvl4_tesla_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{98,102}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{98,102}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TowerShooter.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26c06a5fa35111dc0af80f4879d4f72$</string>
            <key>textureFileName</key>
            <string>TowerShooter.png</string>
        </dict>
    </dict>
</plist>
