<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golemHead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,128},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,66},{32,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,196},{32,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{34,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,190},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,162},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,128},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,34},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,128},{32,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,66},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,98},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,100},{32,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,36},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,226},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,222},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,66},{32,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,36},{24,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{24,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{34,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{24,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{24,30}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{32,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,224},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>golemHead_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>virus.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae19930392385aa56a173a3fbe4a345$</string>
            <key>textureFileName</key>
            <string>virus.png</string>
        </dict>
    </dict>
</plist>
