<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golemHead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,338},{62,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,276},{62,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{62,60}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,276},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{62,60}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,336},{62,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,172},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{64,52}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,264},{62,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,114},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,56}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{64,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{64,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{64,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{64,50}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,68},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{64,52}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,56}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,54},{64,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,134},{64,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{64,50}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,122},{64,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{64,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,48}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,230},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{64,44}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{62,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{62,50}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,376},{46,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{46,56}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{66,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,328},{46,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{46,58}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{62,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{62,50}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,226},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,48}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>golemHead_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{62,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>virus2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c14c8994547dcfc724d0baa245e9b16$</string>
            <key>textureFileName</key>
            <string>virus2.png</string>
        </dict>
    </dict>
</plist>
